name: Save Docker Image as TAR.GZ (Multi-Arch)

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: "镜像名称，默认'ubuntu'"
        required: true
        default: "ubuntu"
      image_tag:
        description: "镜像tag，默认'latest'"
        required: true
        default: "latest"
      arch:
        description: "系统架构，默认'linux/arm64'"
        required: true
        default: "linux/arm64"
jobs:
  save-image:
    runs-on: ubuntu-latest
    steps:
      - name: clean disk space
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/share/java
          sudo rm -rf /usr/share/kotlin
          sudo rm -rf /usr/share/emscripten
          sudo rm -rf /usr/share/doc/*
          sudo rm -rf /usr/share/kotlinc
          sudo rm -rf /var/lib/mecab
          sudo rm -rf /usr/lib/snapd
          sudo rm -rf /usr/share/man
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /usr/local/share/firefox
          sudo rm -rf /usr/local/lib/heroku
          sudo rm -rf /usr/local/lib/node_modules
          sudo rm -rf /usr/local/share/gradle
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/local/azure-cli
          sudo rm -rf /opt/microsoft
          sudo rm -rf /usr/share/miniconda
          sudo rm -rf /usr/share/miniconda
          sudo rm -rf /var/lib/apt/lists/*
          sudo rm -rf /var/cache/apt/archives/*
          sudo rm -rf ~/.cache/*
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf /home/packer
          sudo rm -rf /usr/lib/llvm-18
          sudo rm -rf /usr/lib/llvm-16
          sudo rm -rf /usr/lib/llvm-17
          sudo rm -rf /usr/lib/firefox
          sudo rm -rf /usr/lib/firefox
          sudo rm -rf /usr/share/az_12.5.0
          sudo rm -rf /opt/az
          sudo rm -rf /opt/google
          sudo rm -rf /etc/skel
          sudo rm -rf /usr/local/julia1.12.1
          sudo rm -rf /usr/lib/google-cloud-sdk
          sudo rm -rf /usr/local/aws-cli
          sudo rm -rf /opt/pipx
          sudo rm -rf /usr/lib/python3
          sudo rm -rf /usr/local/aws-sam-cli
          sudo rm -rf /var/lib/mysql
          sudo rm -rf /opt/pipx
          sudo rm -rf /usr/share/gradle-9.2.0
          sudo rm -rf /usr/src/linux-azure-6.11-headers-6.11.0-1018
          sudo rm -rf /usr/local/share/vcpkg
          sudo rm -rf /usr/local/n
          sudo docker system prune -af || true
          sudo docker builder prune -af || true
          sudo du -h --max-depth=4 / | sort -rh | head -n 40
          df -h

      - name: Set up QEMU for multi-arch
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Pull & Save Docker Image
        run: |
          echo "拉取镜像: ${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }} (架构: ${{ github.event.inputs.arch }})"
          docker pull --platform ${{ github.event.inputs.arch }} ${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }}
          docker images | grep ${{ github.event.inputs.image_name }}
          docker save ${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }} | gzip > image.tar.gz

      - name: Upload TAR as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-images-tar
          path: image.tar.gz
