name: Save Docker Image as TAR as Name(Multi-Arch)

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: "镜像名称，默认'ubuntu'"
        required: true
        default: "ubuntu"
      image_tag:
        description: "镜像tag，默认'latest'"
        required: true
        default: "latest"
      arch:
        description: "系统架构，默认'linux/arm64'"
        required: true
        default: "linux/arm64"
        
jobs:
  save-image:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU for multi-arch
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Pull & Save Docker Image
        run: |
          echo "拉取镜像: ${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }} (架构: ${{ github.event.inputs.arch }})"
          docker pull --platform ${{ github.event.inputs.arch }} ${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }}
          docker tag ${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }} local/dockerfile:1.10.0-arm64
          docker buildx imagetools create --no-pull -t local/dockerfile:1.10.0 local/dockerfile:1.10.0-arm64
          docker save -o images.tar local/dockerfile:1.10.0
          
      - name: Upload TAR as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-images-tar
          path: images.tar
